* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loaded {
    width: 100%;
    height: 100vh;
    background-color: mistyrose;
}

#root img{
    width: 200px;
    height: 200px;
}

#root input {
    display: block;
    margin: 20px;
}
